<nav class="navbar navbar-expand bg-body-light border-bottom sticky-top"> 
<!-- 1.expand-lg for dropdown in split screen
    2. border-bottom ->> gives border at the bottom
    3.sticky-top to fix navbar -->
    <div class="container-fluid">
        <!-- 1.for icon ->> font awesome 
        2. copy cdn and add to boilerplate -->
        <a class="navbar-brand" href="/"><i class="fa-solid fa-people-roof"></i></a> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/listings">All Listings</a>
                <a class="nav-link" href="/listings/new">Add New Listing</a>
    
            </div>
        </div>
    </div>
</nav>